* {
    margin: 0;
    padding: 0;
}

header {
    background-image: radial-gradient(circle, #0C1446 0%, #003E3F 100%);
    text-align: center;
    width: 100%;
    height: 100%;
    padding:1px;
    color: white;
}

.form-input {
    padding: 5px 0 5px 4px;
    width: 100%;
    border: none;
    border: 1px solid black;
    border-radius: 4px;
    
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.red{
    background-color: rgba(255, 0, 0, .5);
}
.button {
    display: block;
    width: 100%;
    margin: 10px 5px 10px 1px;
    background-color:#003E3F;
    color:aliceblue;
    padding: 4px;
    border: 4px inset darkgray;
    border-radius: 4px;
}
.button:active {
    border: 4px outset darkgray;
}

.city {
    border-bottom: 2px solid black;
}
/* cities history */

.cityEl {
    flex: 1 1 50%;
    margin: 3px;
    padding: 1px;

}
.cityEl p {
    margin: 1px;
    font-size: 15px;
}

/* day box */

.today {
    padding: 5px;
    border: 1px solid black;
    margin: 5px;
    
    background-color: #0C1446;
    color:aliceblue
    
}



.forecast {
    padding: 5px;
    
}
.forecast div {
    padding: 5px;
    color: white;
    background-color: #0C1446;
}
.day-cast {
    margin-left:4px;
}
